{
    "logLevel": "debug",
    "plugins": [
        {
            "name": "airCooler",
            "runEvery": 1,
            "sensorDevice": "sovrum",
            "threshold": 22,
            "workingHours": {
                "start": "18:00",
                "stop": "22:00"
            },
            "device": "Flakt sovrum",
            "state": "off",
            "notify": []
        },
        {
            "name": "airDryer",
            "runEvery": 10,
            "sensorDevice": "hobbyrum",
            "threshold": 55,
            "device": "Avfuktare hobbyrum",
            "state": "off",
            "notify": [
                "johnDoe"
            ]
        },
        {
            "name": "temperateStatistics",
            "runEvery": 10,
            "sensorDevice": "gillestuga"
        },
        {
            "name": "temperateStatistics",
            "runEvery": 10,
            "sensorDevice": "sovrum"
        },
        {
            "name": "doorBell",
            "runEvery": 5,
            "threshold": 120,
            "device": "rrplingare",
            "notify": [
            ]
        },
        {
            "name": "shl",
            "runEvery": 1,
            
            "device": "Läslampa gillestuga",
            "notify": [
            ]
        }
    ]
}