{
    "logLevel": "info",
    "airCooler": {
        "threshold": 22,
        "status": "on",
        "notify": [
            "johnDoe"
        ]
    },
    "airDryer": {
        "threshold": 45,
        "status": "on",
        "notify": [
            "johnDoe"
        ]
    }
}